In [1]:
import pyspark

spark = pyspark.sql.SparkSession.builder.getOrCreate()

22/09/09 15:33:54 WARN Utils: Your hostname, gladys-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.0.20 instead (on interface en0)
22/09/09 15:33:54 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/09/09 15:33:55 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/09/09 15:33:56 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/09/09 15:33:56 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

1.Create a spark data frame that contains your favorite programming languages.

The name of the column should be language
View the schema of the dataframe
Output the shape of the dataframe
Show the first 5 records in the dataframe

In [3]:
import pandas as pd
import numpy as np

np.random.seed(456)
from pydataset import data

In [4]:
pandas_dataframe = pd.DataFrame(
    dict(n=np.arange(3), group=['python', 'java', 'nothing else'])
)
pandas_dataframe

   n         group
0  0        python
1  1          java
2  2  nothing else

In [5]:
df = spark.createDataFrame(pandas_dataframe)
df

DataFrame[n: bigint, group: string]

In [18]:
df.show()

+---+------------+
|  n|       group|
+---+------------+
|  0|      python|
|  1|        java|
|  2|nothing else|
+---+------------+

In [19]:
df.printSchema()

root
 |-- n: long (nullable = true)
 |-- group: string (nullable = true)

In [20]:
df.describe().show()

+-------+---+------+
|summary|  n| group|
+-------+---+------+
|  count|  3|     3|
|   mean|1.0|  null|
| stddev|1.0|  null|
|    min|  0|  java|
|    max|  2|python|
+-------+---+------+

2.Load the mpg dataset as a spark dataframe.

- Create 1 column of output that contains a message like the one below:

         -The 1999 audi a4 has a 4 cylinder engine.
            For each vehicle.

- Transform the trans column so that it only contains either manual or auto.

In [7]:
mpg = spark.createDataFrame(data("mpg"))
mpg.show(5)

+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|manufacturer|model|displ|year|cyl|     trans|drv|cty|hwy| fl|  class|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|        audi|   a4|  1.8|1999|  4|  auto(l5)|  f| 18| 29|  p|compact|
|        audi|   a4|  1.8|1999|  4|manual(m5)|  f| 21| 29|  p|compact|
|        audi|   a4|  2.0|2008|  4|manual(m6)|  f| 20| 31|  p|compact|
|        audi|   a4|  2.0|2008|  4|  auto(av)|  f| 21| 30|  p|compact|
|        audi|   a4|  2.8|1999|  6|  auto(l5)|  f| 16| 26|  p|compact|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
only showing top 5 rows

3. Load the tips dataset as a spark dataframe.

- What percentage of observations are smokers?
- Create a column that contains the tip percentage
- Calculate the average tip percentage for each combination of sex and smoker.

In [16]:
import matplotlib.pyplot as plt

In [21]:
tips = spark.createDataFrame(data("tips"))
tips.show(5)

AttributeError: No dataset named 'tips'

4. Use the seattle weather dataset referenced in the lesson to answer the questions below.

- Convert the temperatures to fahrenheit.
- Which month has the most rain, on average?
- Which year was the windiest?
- What is the most frequent type of weather in January?
- What is the average high and low temperature on sunny days in July in 2013 and 2014?
- What percentage of days were rainy in q3 of 2015?
- For each year, find what percentage of days it rained (had non-zero precipitation).

In [13]:
from vega_datasets import data

In [14]:
seattle = spark.createDataFrame(data("seattle_weather"))
seattle.show(5)

+-------------------+-------------+--------+--------+----+-------+
|               date|precipitation|temp_max|temp_min|wind|weather|
+-------------------+-------------+--------+--------+----+-------+
|2012-01-01 00:00:00|          0.0|    12.8|     5.0| 4.7|drizzle|
|2012-01-02 00:00:00|         10.9|    10.6|     2.8| 4.5|   rain|
|2012-01-03 00:00:00|          0.8|    11.7|     7.2| 2.3|   rain|
|2012-01-04 00:00:00|         20.3|    12.2|     5.6| 4.7|   rain|
|2012-01-05 00:00:00|          1.3|     8.9|     2.8| 6.1|   rain|
+-------------------+-------------+--------+--------+----+-------+
only showing top 5 rows