Data Acquisition
These exercises should go in a notebook or script named wrangle. Add, commit, and push your changes.

- This exercises uses the `case.csv`, `dept.csv`, and `source.csv` files from the san antonio 311 call dataset.

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
import pandas as pd
from env import get_db_url

spark = SparkSession.builder.getOrCreate()

22/09/12 13:56:29 WARN Utils: Your hostname, gladys-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.0.20 instead (on interface en0)
22/09/12 13:56:29 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/09/12 13:56:30 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

- Read the case, department, and source data into their own spark dataframes.

# case

In [2]:
case_df = spark.read.csv("case.csv", sep=",", header=True, inferSchema=True)

In [4]:
case_df.show(5)

+----------+----------------+----------------+------------+---------+-------------------+-----------+----------------+--------------------+-----------+-----------+---------+--------------------+----------------+
|   case_id|case_opened_date|case_closed_date|SLA_due_date|case_late|      num_days_late|case_closed|   dept_division|service_request_type|   SLA_days|case_status|source_id|     request_address|council_district|
+----------+----------------+----------------+------------+---------+-------------------+-----------+----------------+--------------------+-----------+-----------+---------+--------------------+----------------+
|1014127332|     1/1/18 0:42|    1/1/18 12:29|9/26/20 0:42|       NO| -998.5087616000001|        YES|Field Operations|        Stray Animal|      999.0|     Closed| svcCRMLS|2315  EL PASO ST,...|               5|
|1014127333|     1/1/18 0:46|     1/3/18 8:11| 1/5/18 8:30|       NO|-2.0126041669999997|        YES|     Storm Water|Removal Of Obstru...|4.322222222|     Closed| svcCRMSS|2215  GOLIAD RD, ...|               3|
|1014127334|     1/1/18 0:48|     1/2/18 7:57| 1/5/18 8:30|       NO|       -3.022337963|        YES|     Storm Water|Removal Of Obstru...|4.320729167|     Closed| svcCRMSS|102  PALFREY ST W...|               3|
|1014127335|     1/1/18 1:29|     1/2/18 8:13|1/17/18 8:30|       NO|       -15.01148148|        YES|Code Enforcement|Front Or Side Yar...|16.29188657|     Closed| svcCRMSS|114  LA GARDE ST,...|               3|
|1014127336|     1/1/18 1:34|    1/1/18 13:29| 1/1/18 4:34|      YES|0.37216435200000003|        YES|Field Operations|Animal Cruelty(Cr...|      0.125|     Closed| svcCRMSS|734  CLEARVIEW DR...|               7|
+----------+----------------+----------------+------------+---------+-------------------+-----------+----------------+--------------------+-----------+-----------+---------+--------------------+----------------+
only showing top 5 rows

In [5]:
case_df.show(2, vertical=True)

-RECORD 0------------------------------------
 case_id              | 1014127332
 case_opened_date     | 1/1/18 0:42
 case_closed_date     | 1/1/18 12:29
 SLA_due_date         | 9/26/20 0:42
 case_late            | NO
 num_days_late        | -998.5087616000001
 case_closed          | YES
 dept_division        | Field Operations
 service_request_type | Stray Animal
 SLA_days             | 999.0
 case_status          | Closed
 source_id            | svcCRMLS
 request_address      | 2315  EL PASO ST,...
 council_district     | 5
-RECORD 1------------------------------------
 case_id              | 1014127333
 case_opened_date     | 1/1/18 0:46
 case_closed_date     | 1/3/18 8:11
 SLA_due_date         | 1/5/18 8:30
 case_late            | NO
 num_days_late        | -2.0126041669999997
 case_closed          | YES
 dept_division        | Storm Water
 service_request_type | Removal Of Obstru...
 SLA_days             | 4.322222222
 case_status          | Closed
 source_id            | svcCRMSS
 request_address      | 2215  GOLIAD RD, ...
 council_district     | 3
only showing top 2 rows

# department

In [6]:
dept_df = spark.read.csv("dept.csv", sep=",", header=True, inferSchema=True)

In [7]:
dept_df.show(2, vertical=True)

-RECORD 0--------------------------------------
 dept_division          | 311 Call Center
 dept_name              | Customer Service
 standardized_dept_name | Customer Service
 dept_subject_to_SLA    | YES
-RECORD 1--------------------------------------
 dept_division          | Brush
 dept_name              | Solid Waste Manag...
 standardized_dept_name | Solid Waste
 dept_subject_to_SLA    | YES
only showing top 2 rows

# source

In [8]:
source_df = spark.read.csv("source.csv", sep=",", header=True, inferSchema=True)

In [9]:
source_df.show(2, vertical=True)

-RECORD 0---------------------------
 source_id       | 100137
 source_username | Merlene Blodgett
-RECORD 1---------------------------
 source_id       | 103582
 source_username | Carmen Cura
only showing top 2 rows

Let's see how writing to the local disk works in spark:

- Write the code necessary to store the source data in both csv and json format, store these as sources_csv and sources_json
- Inspect your folder structure. What do you notice?

In [11]:
source_df.write.json("sources_json", mode="overwrite")

In [12]:
source_df.write.csv("sources_csv", mode="overwrite")

you see two diffrent folders and then in the folders there is a success page and then the csv or json

Inspect the data in your dataframes. Are the data types appropriate? Write the code necessary to cast the values to the appropriate types.

In [14]:
source_df.dtypes

[('source_id', 'string'), ('source_username', 'string')]

In [16]:
source_df.show(3)

+---------+----------------+
|source_id| source_username|
+---------+----------------+
|   100137|Merlene Blodgett|
|   103582|     Carmen Cura|
|   106463| Richard Sanchez|
+---------+----------------+
only showing top 3 rows

In [17]:
dept_df.dtypes

[('dept_division', 'string'),
 ('dept_name', 'string'),
 ('standardized_dept_name', 'string'),
 ('dept_subject_to_SLA', 'string')]

In [19]:
dept_df.show(3)

+---------------+--------------------+----------------------+-------------------+
|  dept_division|           dept_name|standardized_dept_name|dept_subject_to_SLA|
+---------------+--------------------+----------------------+-------------------+
|311 Call Center|    Customer Service|      Customer Service|                YES|
|          Brush|Solid Waste Manag...|           Solid Waste|                YES|
|Clean and Green|Parks and Recreation|    Parks & Recreation|                YES|
+---------------+--------------------+----------------------+-------------------+
only showing top 3 rows

In [21]:
case_df.dtypes

[('case_id', 'int'),
 ('case_opened_date', 'string'),
 ('case_closed_date', 'string'),
 ('SLA_due_date', 'string'),
 ('case_late', 'string'),
 ('num_days_late', 'double'),
 ('case_closed', 'string'),
 ('dept_division', 'string'),
 ('service_request_type', 'string'),
 ('SLA_days', 'double'),
 ('case_status', 'string'),
 ('source_id', 'string'),
 ('request_address', 'string'),
 ('council_district', 'int')]

In [23]:
#truncate fills the whole text
case_df.show(3, vertical=True, truncate=False)

-RECORD 0-----------------------------------------------------
 case_id              | 1014127332
 case_opened_date     | 1/1/18 0:42
 case_closed_date     | 1/1/18 12:29
 SLA_due_date         | 9/26/20 0:42
 case_late            | NO
 num_days_late        | -998.5087616000001
 case_closed          | YES
 dept_division        | Field Operations
 service_request_type | Stray Animal
 SLA_days             | 999.0
 case_status          | Closed
 source_id            | svcCRMLS
 request_address      | 2315  EL PASO ST, San Antonio, 78207
 council_district     | 5
-RECORD 1-----------------------------------------------------
 case_id              | 1014127333
 case_opened_date     | 1/1/18 0:46
 case_closed_date     | 1/3/18 8:11
 SLA_due_date         | 1/5/18 8:30
 case_late            | NO
 num_days_late        | -2.0126041669999997
 case_closed          | YES
 dept_division        | Storm Water
 service_request_type | Removal Of Obstruction
 SLA_days             | 4.322222222
 case_status          | Closed
 source_id            | svcCRMSS
 request_address      | 2215  GOLIAD RD, San Antonio, 78223
 council_district     | 3
-RECORD 2-----------------------------------------------------
 case_id              | 1014127334
 case_opened_date     | 1/1/18 0:48
 case_closed_date     | 1/2/18 7:57
 SLA_due_date         | 1/5/18 8:30
 case_late            | NO
 num_days_late        | -3.022337963
 case_closed          | YES
 dept_division        | Storm Water
 service_request_type | Removal Of Obstruction
 SLA_days             | 4.320729167
 case_status          | Closed
 source_id            | svcCRMSS
 request_address      | 102  PALFREY ST W, San Antonio, 78223
 council_district     | 3
only showing top 3 rows

In [25]:
#what is SLA?

case = case_df.withColumnRenamed('SLA_due_date', 'case_due_date')

In [26]:
case = (
    case.withColumn('case_opened_date', to_timestamp(col('case_opened_date'), 'M/d/yy H:mm'))
    .withColumn('case_closed_date', to_timestamp(col('case_closed_date'), 'M/d/yy H:mm'))
    .withColumn('case_due_date', to_timestamp(col('case_due_date'), 'M/d/yy H:mm'))
)
# make boolean
case = (
    case.withColumn('case_late', col('case_late') == 'YES')
    .withColumn('case_closed', col('case_closed') == 'YES')
)

# 1) How old is the latest (in terms of days past SLA) currently open issue? How long has the oldest (in terms of days since opened) currently opened issue been open?

In [27]:
# prep for sql query
case.createOrReplaceTempView('case')

# write sql query
# latest
spark.sql('''
SELECT DATEDIFF(current_timestamp, case_due_date) AS days_past_due
FROM case
WHERE NOT case_closed
ORDER BY days_past_due DESC
LIMIT 1
''').show()

+-------------+
|days_past_due|
+-------------+
|         2065|
+-------------+

In [28]:
spark.sql('''
SELECT DATEDIFF(current_timestamp, case_opened_date) AS days_since_opened
FROM case
WHERE NOT case_closed
ORDER BY days_since_opened DESC
LIMIT 1
''').show()

+-----------------+
|days_since_opened|
+-----------------+
|             2081|
+-----------------+

# 2. How many Stray Animal cases are there?

In [29]:
# count only stray animal cases
case.filter(case.service_request_type == 'Stray Animal').count()

26760

# 3. How many service requests that are assigned to the Field Operations department (dept_division) are not classified as "Officer Standby" request type (service_request_type)?

In [30]:
# show only field operations division cases
# exclude officer standby request types
# show count
case.filter(case.dept_division == 'Field Operations')\
.filter(case.service_request_type != 'Officer Standby')\
.count()

113902

# 4. Convert the council_district column to a string column.

In [31]:
case = case.withColumn('council_district', format_string('%04d', col('council_district')))

# 5. Extract the year from the case_closed_date column.

In [32]:
# get year from case_closed_date
case.select('case_closed_date', year('case_closed_date')).show(3)

+-------------------+----------------------+
|   case_closed_date|year(case_closed_date)|
+-------------------+----------------------+
|2018-01-01 12:29:00|                  2018|
|2018-01-03 08:11:00|                  2018|
|2018-01-02 07:57:00|                  2018|
+-------------------+----------------------+
only showing top 3 rows

# 6. Convert num_days_late from days to hours in new columns num_hours_late.

In [33]:
# create new column multiplying each day by 24 hours
# select both columns
# show first 5 rows
case.withColumn('num_hours_late', case.num_days_late * 24)\
.select('num_days_late', 'num_hours_late')\
.show(5)

+-------------------+-------------------+
|      num_days_late|     num_hours_late|
+-------------------+-------------------+
| -998.5087616000001|     -23964.2102784|
|-2.0126041669999997|-48.302500007999996|
|       -3.022337963|      -72.536111112|
|       -15.01148148|      -360.27555552|
|0.37216435200000003|  8.931944448000001|
+-------------------+-------------------+
only showing top 5 rows

# 7. Join the case data with the source and department dat

In [36]:
# join dataframes
df = case.join(dept_df, 'dept_division', 'left').join(source_df, 'source_id', 'left')
df.show(1, vertical=True, truncate=False)

-RECORD 0------------------------------------------------------
 source_id              | svcCRMLS
 dept_division          | Field Operations
 case_id                | 1014127332
 case_opened_date       | 2018-01-01 00:42:00
 case_closed_date       | 2018-01-01 12:29:00
 case_due_date          | 2020-09-26 00:42:00
 case_late              | false
 num_days_late          | -998.5087616000001
 case_closed            | true
 service_request_type   | Stray Animal
 SLA_days               | 999.0
 case_status            | Closed
 request_address        | 2315  EL PASO ST, San Antonio, 78207
 council_district       | 0005
 dept_name              | Animal Care Services
 standardized_dept_name | Animal Care Services
 dept_subject_to_SLA    | YES
 source_username        | svcCRMLS
only showing top 1 row

# 8. Are there any cases that do not have a request source?

In [37]:
# select where source_id has no value
# sum those values
# show total records without request source
df.select(df.source_id.isNull().cast('int').alias('is_null'))\
.agg(sum('is_null'))\
.show()

+------------+
|sum(is_null)|
+------------+
|           0|
+------------+

# 9. What are the top 10 service request types in terms of number of requests?

In [38]:
# group by service request type
# get count for each type
# sort descending
# show top 10
df.groupby('service_request_type')\
.count()\
.sort(col('count').desc())\
.show(10, truncate=False)

+--------------------------------+-----+
|service_request_type            |count|
+--------------------------------+-----+
|No Pickup                       |89210|
|Overgrown Yard/Trash            |66403|
|Bandit Signs                    |32968|
|Damaged Cart                    |31163|
|Front Or Side Yard Parking      |28920|
|Stray Animal                    |27361|
|Aggressive Animal(Non-Critical) |25492|
|Cart Exchange Request           |22608|
|Junk Vehicle On Private Property|21649|
|Pot Hole Repair                 |20827|
+--------------------------------+-----+
only showing top 10 rows

# 10. What are the top 10 service request types in terms of average days late?

In [39]:
# select only late cases
# group by service request type
# aggregate by avg days late and number of cases
# sort descending
# show top 10
df.where('case_late')\
.groupBy('service_request_type')\
.agg(mean('num_days_late').alias('n_days_late'), count('*').alias('n_cases'))\
.sort(desc('n_days_late'))\
.show(10, truncate=False)

+--------------------------------------+------------------+-------+
|service_request_type                  |n_days_late       |n_cases|
+--------------------------------------+------------------+-------+
|Zoning: Recycle Yard                  |210.89201994318182|132    |
|Zoning: Junk Yards                    |200.20517608494276|262    |
|Structure/Housing Maintenance         |190.20707698509807|51     |
|Donation Container Enforcement        |171.09115313942615|122    |
|Storage of Used Mattress              |163.96812829714287|7      |
|Labeling for Used Mattress            |162.43032902285717|7      |
|Record Keeping of Used Mattresses     |153.99724039428568|7      |
|Signage Requied for Sale of Used Mattr|151.63868055333333|12     |
|Traffic Signal Graffiti               |137.64583330000002|4      |
|License Requied Used Mattress Sales   |128.79828704142858|7      |
+--------------------------------------+------------------+-------+
only showing top 10 rows

# 11. Does number of days late depend on department?

In [40]:
# show only late cases
# group by department
# aggregate by avg days late
# sort by lateness
# round for neatness
df.filter('case_late')\
.groupby('dept_name')\
.agg(mean('num_days_late').alias('avg_days_late'))\
.sort('avg_days_late')\
.withColumn('avg_days_late', round(col('avg_days_late'), 2))\
.show(truncate=False)

+-------------------------+-------------+
|dept_name                |avg_days_late|
+-------------------------+-------------+
|Metro Health             |6.49         |
|Solid Waste Management   |7.15         |
|Trans & Cap Improvements |10.66        |
|Parks and Recreation     |22.43        |
|Animal Care Services     |23.45        |
|Code Enforcement Services|48.09        |
|Development Services     |67.22        |
|Customer Service         |88.18        |
|null                     |210.89       |
+-------------------------+-------------+

# 12. How do number of days late depend on department and request type?

In [41]:
# show only late cases
# group by dept name and request type
# aggregate by avg lateness
# round avg days late
# sort descending by lateness
# show top 10 records
df.filter("case_late")\
.groupby("dept_name", "service_request_type")\
.agg(avg("num_days_late").alias("days_late"))\
.withColumn("days_late", round(col("days_late"), 2))\
.sort(desc("days_late"))\
.show(10, truncate=False)

+-------------------------+--------------------------------------+---------+
|dept_name                |service_request_type                  |days_late|
+-------------------------+--------------------------------------+---------+
|null                     |Zoning: Recycle Yard                  |210.89   |
|Code Enforcement Services|Zoning: Junk Yards                    |200.21   |
|Code Enforcement Services|Structure/Housing Maintenance         |190.21   |
|Code Enforcement Services|Donation Container Enforcement        |171.09   |
|Code Enforcement Services|Storage of Used Mattress              |163.97   |
|Code Enforcement Services|Labeling for Used Mattress            |162.43   |
|Code Enforcement Services|Record Keeping of Used Mattresses     |154.0    |
|Code Enforcement Services|Signage Requied for Sale of Used Mattr|151.64   |
|Trans & Cap Improvements |Traffic Signal Graffiti               |137.65   |
|Code Enforcement Services|License Requied Used Mattress Sales   |128.8    |
+-------------------------+--------------------------------------+---------+
only showing top 10 rows