Data Acquisition
These exercises should go in a notebook or script named wrangle. Add, commit, and push your changes.

- This exercises uses the `case.csv`, `dept.csv`, and `source.csv` files from the san antonio 311 call dataset.

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
import pandas as pd
from env import get_db_url

spark = SparkSession.builder.getOrCreate()

22/09/12 13:56:29 WARN Utils: Your hostname, gladys-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.0.20 instead (on interface en0)
22/09/12 13:56:29 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/09/12 13:56:30 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

- Read the case, department, and source data into their own spark dataframes.

# case

In [2]:
case_df = spark.read.csv("case.csv", sep=",", header=True, inferSchema=True)

In [4]:
case_df.show(5)

+----------+----------------+----------------+------------+---------+-------------------+-----------+----------------+--------------------+-----------+-----------+---------+--------------------+----------------+
|   case_id|case_opened_date|case_closed_date|SLA_due_date|case_late|      num_days_late|case_closed|   dept_division|service_request_type|   SLA_days|case_status|source_id|     request_address|council_district|
+----------+----------------+----------------+------------+---------+-------------------+-----------+----------------+--------------------+-----------+-----------+---------+--------------------+----------------+
|1014127332|     1/1/18 0:42|    1/1/18 12:29|9/26/20 0:42|       NO| -998.5087616000001|        YES|Field Operations|        Stray Animal|      999.0|     Closed| svcCRMLS|2315  EL PASO ST,...|               5|
|1014127333|     1/1/18 0:46|     1/3/18 8:11| 1/5/18 8:30|       NO|-2.0126041669999997|        YES|     Storm Water|Removal Of Obstru...|4.322222222|     Closed| svcCRMSS|2215  GOLIAD RD, ...|               3|
|1014127334|     1/1/18 0:48|     1/2/18 7:57| 1/5/18 8:30|       NO|       -3.022337963|        YES|     Storm Water|Removal Of Obstru...|4.320729167|     Closed| svcCRMSS|102  PALFREY ST W...|               3|
|1014127335|     1/1/18 1:29|     1/2/18 8:13|1/17/18 8:30|       NO|       -15.01148148|        YES|Code Enforcement|Front Or Side Yar...|16.29188657|     Closed| svcCRMSS|114  LA GARDE ST,...|               3|
|1014127336|     1/1/18 1:34|    1/1/18 13:29| 1/1/18 4:34|      YES|0.37216435200000003|        YES|Field Operations|Animal Cruelty(Cr...|      0.125|     Closed| svcCRMSS|734  CLEARVIEW DR...|               7|
+----------+----------------+----------------+------------+---------+-------------------+-----------+----------------+--------------------+-----------+-----------+---------+--------------------+----------------+
only showing top 5 rows

In [5]:
case_df.show(2, vertical=True)

-RECORD 0------------------------------------
 case_id              | 1014127332
 case_opened_date     | 1/1/18 0:42
 case_closed_date     | 1/1/18 12:29
 SLA_due_date         | 9/26/20 0:42
 case_late            | NO
 num_days_late        | -998.5087616000001
 case_closed          | YES
 dept_division        | Field Operations
 service_request_type | Stray Animal
 SLA_days             | 999.0
 case_status          | Closed
 source_id            | svcCRMLS
 request_address      | 2315  EL PASO ST,...
 council_district     | 5
-RECORD 1------------------------------------
 case_id              | 1014127333
 case_opened_date     | 1/1/18 0:46
 case_closed_date     | 1/3/18 8:11
 SLA_due_date         | 1/5/18 8:30
 case_late            | NO
 num_days_late        | -2.0126041669999997
 case_closed          | YES
 dept_division        | Storm Water
 service_request_type | Removal Of Obstru...
 SLA_days             | 4.322222222
 case_status          | Closed
 source_id            | svcCRMSS
 request_address      | 2215  GOLIAD RD, ...
 council_district     | 3
only showing top 2 rows

# department

In [6]:
dept_df = spark.read.csv("dept.csv", sep=",", header=True, inferSchema=True)

In [7]:
dept_df.show(2, vertical=True)

-RECORD 0--------------------------------------
 dept_division          | 311 Call Center
 dept_name              | Customer Service
 standardized_dept_name | Customer Service
 dept_subject_to_SLA    | YES
-RECORD 1--------------------------------------
 dept_division          | Brush
 dept_name              | Solid Waste Manag...
 standardized_dept_name | Solid Waste
 dept_subject_to_SLA    | YES
only showing top 2 rows

# source

In [8]:
source_df = spark.read.csv("source.csv", sep=",", header=True, inferSchema=True)

In [9]:
source_df.show(2, vertical=True)

-RECORD 0---------------------------
 source_id       | 100137
 source_username | Merlene Blodgett
-RECORD 1---------------------------
 source_id       | 103582
 source_username | Carmen Cura
only showing top 2 rows

Let's see how writing to the local disk works in spark:

- Write the code necessary to store the source data in both csv and json format, store these as sources_csv and sources_json
- Inspect your folder structure. What do you notice?

In [11]:
source_df.write.json("sources_json", mode="overwrite")

In [12]:
source_df.write.csv("sources_csv", mode="overwrite")

you see two diffrent folders and then in the folders there is a success page and then the csv or json

Inspect the data in your dataframes. Are the data types appropriate? Write the code necessary to cast the values to the appropriate types.